<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container-fluid">
      <a routerLink="/home" class="navbar-brand">Bangaluru <span>e-CAFE</span></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
              <a routerLink="/home" class="nav-item nav-link">Home</a>
              <a routerLink="/about" class="nav-item nav-link">About</a>
          
              <a routerLink="/menu" class="nav-item nav-link">Menu</a>
             
              <a routerLink="/contactUs" class="nav-item nav-link active">Contact</a>

          </div>
      </div>
  </div>
</div>
<!-- Nav Bar End -->

<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2>Contact Us</h2>
          </div>
          <div class="col-12">
              <a routerLink="/home">Home</a>
              <a routerLink="/contactUs">Contact</a>
          </div>
      </div>
  </div>
</div>
<!-- Page Header End -->



<!-- <br><br><br><br>
<div class="body">
<div class="container">
  <div class="row">
    <div class="col-md-6 " id="form_container" style="margin: auto">
      <p> Please send your message below. We will get back to you at the earliest! </p>
      <form role="form" method="post" id="reused_form" (ngSubmit)="sendFeedback()">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="message"> Message:</label>
            <textarea class="form-control" type="textarea" id="message" name="message" maxlength="6000" rows="7" [(ngModel)]="modelMessage.message"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="name"> Your Name:</label>
            <input type="text" class="form-control" disabled="disabled" id="name" name="name" required placeholder="{{modelUser.firstname}} {{modelUser.lastname}}">
          </div>
          <div class="col-sm-6 form-group">
            <label for="email"> Email:</label>
            <input type="email" disabled="disabled" class="form-control" id="email" name="email" required placeholder="{{modelUser.email}}">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 form-group">
            <button type="submit" class="bigbutton" ><span>Send</span></button>
          </div>
          <div class="col-lg-4 form-group">
            <button type="button" class="bigbutton" routerLink="/menu"><span>Menu</span></button>
          </div>
          <div class="col-lg-4 form-group">
            <button type="button" class="bigbutton" routerLink="/home" (click)="clearLocal()"><span>Log Out</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<div *ngIf="gif">
  <img src="../../assets/images/gif1.gif">
</div> -->

<!-- Contact Start -->
<div class="contact">
  <div class="container">
      <div class="section-header text-center">
          <p>Contact Us</p>
          <h2>Contact For Any Query</h2>
      </div>
      <div class="row align-items-center contact-information">
          <div class="col-md-6 col-lg-3">
              <div class="contact-info">
                  <div class="contact-icon">
                      <i class="fa fa-map-marker-alt"></i>
                  </div>
                  <div class="contact-text">
                      <h3>Address</h3>
                      <p>123 Street, Bengaluru, Karnataka, India</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="contact-info">
                  <div class="contact-icon">
                      <i class="fa fa-phone-alt"></i>
                  </div>
                  <div class="contact-text">
                      <h3>Call Us</h3>
                      <p>+012 345 6789</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="contact-info">
                  <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                  </div>
                  <div class="contact-text">
                      <h3>Email Us</h3>
                      <p>bengaluruecafe@gmail.com</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="contact-info">
                  <div class="contact-icon">
                      <i class="fa fa-share"></i>
                  </div>
                  <div class="contact-text">
                      <h3>Follow Us</h3>
                      <div class="contact-social">
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-youtube"></i></a>
                          <a href=""><i class="fab fa-instagram"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row contact-form">
          <div class="col-md-6">

            <div class="mapouter"><div class="gmap_canvas">
              <iframe width="100%" height="100%" id="gmap_canvas" 
              src="https://maps.google.com/maps?q=bengaluru urban&t=&z=10&ie=UTF8&iwloc=&output=embed" 
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co"></a><br>
              <style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}</style>
              <a href="https://embedgooglemap.2yu.co/"></a>
              <style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>
          </div>
          <div class="col-md-6">
              <div id="success"></div>
              <form name="sentMessage" id="contactForm" novalidate="novalidate" (ngSubmit)="sendFeedback()">
                  <div class="control-group">
                      <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" placeholder="{{modelUser.firstname}} {{modelUser.lastname}}"/>
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                      <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" required placeholder="{{modelUser.email}}"/>
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                      <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                    <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message" [(ngModel)]="modelMessage.message"></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                  <div>
                      <button class="btn custom-btn" type="submit" id="sendMessageButton">Send Message</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Contact End -->


<!-- Footer -->
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-7">
              <div class="row">
                  <div class="col-md-6">
                      <div class="footer-contact">
                          <h2>Our Address</h2>
                          <p><i class="fas fa-map-marker-alt"></i>123 Street, Bengaluru, Karnataka, India</p>
                          <p><i class="fas fa-phone-alt"></i>+012 345 67890</p>
                          <p><i class="fa fa-envelope"></i>bengaluruecafe@gmail.com</p>
                          <p>DON'T BE ANTI-SOCIAL<br>
                          <i>Join in with the conversation</i></p>
                          <div class="footer-social">
                              <a href=""><i class="fab fa-twitter"></i></a>
                              <a href="https://www.facebook.com/therameshwaramcafe/"><i class="fab fa-facebook-f"></i></a>
                              <a href="https://www.youtube.com/watch?v=1xbmyNO9aQ0"><i class="fab fa-youtube"></i></a>
                              <a href=""><i class="fab fa-instagram"></i></a>
                              <a href=""><i class="fab fa-linkedin-in"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="footer-link">
                          <h2>Quick Links</h2>
                          <a href="">Terms of use</a>
                          <a href="">Privacy policy</a>
                          <a href="">Cookies</a>
                          <a href="">Help</a>
                          <a href="">FQAs</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5">
              <div class="footer-newsletter">
                  <h2>Newsletter</h2>
                  <p>
                    Never miss an update from us!
                    We will be in touch regularly with upto date news, offers and much more.<br>
                    In the meantime, find out more about us and explore Bengaluru e-CAFE  
                  <div class="form">
                      <input class="form-control" placeholder="Email goes here">
                      <button class="btn custom-btn">Submit</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p>Copyright &copy; <a href="#">Bengaluru_e-CAFE</a>, All Right Reserved.</p>
          
      </div>
  </div>
</div>

<a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>