.body {
  /* background: #393939; */
  color: white;
  font: 14px Helvetica, sans-serif;
}


table{
 
  align-items: center;
}

img{
  width: 20%;
  align-self: center;
}

.align-contents{
  background-color: #393939;
  width: 100%;
}


td{
  border-top: 0px;
  color: #FFFFFF;
}
font{
  color: #FFFFFF;
  font-size: 4vw;
}
.welcome{
  color: white;
}

label {
  font: bold 20px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 5px 10px 0 0;
  width: 140px;
}

form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}


.bigbutton {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bigbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bigbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bigbutton:hover span {
  padding-right: 25px;
}

.bigbutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* Header,,,,Footer */

.navbar {
  position: relative;
  transition: .5s;
  z-index: 999;
}

.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #fbaf32;
  font-size: 45px;
  line-height: 0px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  transition: .5s;
  
}

.navbar .navbar-brand span {
  color: #719a0a;
}

.navbar .navbar-brand:hover {
  color: #fbaf32;
}

.navbar .navbar-brand:hover span {
  color: #fbaf32;
}

.navbar .navbar-brand img {
  max-width: 100%;
  max-height: 40px;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

@media (min-width: 992px) {
  .navbar {
      position: absolute;
      width: 100%;
      padding: 30px 60px;
      background: transparent !important;
      z-index: 9;
  }
  
  .navbar.nav-sticky {
      padding: 10px 60px;
      background: #ffffff !important;
  }
  
  .navbar .navbar-brand {
      color: #fbaf32;
  }
  
  .navbar.nav-sticky .navbar-brand {
      color: #fbaf32;
  }

  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link:focus {
      padding: 10px 10px 8px 10px;
      font-family: 'Nunito', sans-serif;
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
  }
  
  .navbar-light.nav-sticky .navbar-nav .nav-link,
  .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
      color: #666666;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
      color: #fbaf32;
  }
  
  .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
  .navbar-light.nav-sticky .navbar-nav .nav-link.active {
      color: #fbaf32;
  }
}

@media (max-width: 991.98px) {   
  .navbar {
      padding: 15px;
      background: #ffffff !important;
  }
  
  .navbar .navbar-brand {
      color: #fbaf32;
  }
  
  .navbar .navbar-nav {
      margin-top: 15px;
  }
  
  .navbar a.nav-link {
      padding: 5px;
  }
  
  .navbar .dropdown-menu {
      box-shadow: none;
  }
}



.footer {
  position: relative;
  margin-top: 45px;
  padding-top: 90px;
  background: rgba(0, 0, 0, .04);
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
  position: relative;
  margin-bottom: 45px;
  color: #454545;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #fbaf32;
}

.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #719a0a;
}

.footer .footer-link a {
  display: block;
  margin-bottom: 10px;
  color: #454545;
  transition: .3s;
}

.footer .footer-link a::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #fbaf32;
}

.footer .footer-link a:hover {
  color: #fbaf32;
  letter-spacing: 1px;
}

.footer .footer-contact p i {
  width: 25px;
  color: #fbaf32;
}

.footer .footer-social {
  position: relative;
  margin-top: 20px;
  display: flex;
}

.footer .footer-social a {
  display: inline-block;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbaf32;
  border-radius: 35px;
  font-size: 16px;
  color: #ffffff;
}

.footer .footer-social a:hover {
  background: #719a0a;
}

.footer .footer-social a:last-child {
  margin: 0;
}

.footer .footer-newsletter .form {
  position: relative;
  width: 100%;
}

.footer .footer-newsletter input {
  height: 60px;
  background: transparent;
  border: 1px solid #fbaf32;
  border-radius: 5px;
}

.footer .footer-newsletter .btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 44px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 700;
}

.footer .copyright {
  position: relative;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: #ffffff;
}

.footer .copyright p {
  margin: 0;
  display: inline-block;
  color: #454545;
}

.footer .copyright p a {
  color: #fbaf32;
}

.footer .copyright p a:hover {
  color: #719a0a;
}

/********* General CSS *********/
/*******************************/
body {
  color: #757575;
  background: #ffffff;
  font-family: 'open sans', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
  color: #454545;
  font-family: 'Nunito', sans-serif;
}

a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #fbaf32;
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  color: #719a0a;
  outline: none;
  text-decoration: none;
}

.btn.custom-btn {
  padding: 12px 25px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: #fbaf32;
  border: 2px solid #fbaf32;
  border-radius: 5px;
  transition: .5s;
}

.btn.custom-btn:hover {
  color: #fbaf32;
  background: transparent;
}

.btn.custom-btn:focus,
.form-control:focus,
.custom-select:focus {
  box-shadow: none;
}

.container-fluid {
  max-width: 1366px;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #fbaf32;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  border-radius: 5px;
  transition: background 0.5s;
  z-index: 9;
}

.back-to-top i {
  color: #ffffff;
  padding-top: 10px;
}

.back-to-top:hover {
  background: #719a0a;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-size: inherit;
  margin-left: 0;
}


/******* Page Header CSS *******/
/*******************************/
.page-header {
  position: relative;
  margin-bottom: 45px;
  padding: 150px 0 90px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(src\assets\images\header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header h2 {
  position: relative;
  color: #fbaf32;
  font-size: 60px;
  font-weight: 700;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.page-header a:hover {
  color: #ffffff;
}

.page-header a::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -1px;
  right: -7px;
  text-align: center;
  color: #fbaf32;
}

.page-header a:last-child::after {
  display: none;
}

@media (max-width: 767.98px) {
  .page-header h2 {
      font-size: 35px;
  }
  
  .page-header a {
      font-size: 18px;
  }
}

/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  margin-bottom: 45px;
}

.section-header p {
  color: #719a0a;
  margin-bottom: 5px;
  position: relative;
  font-size: 20px;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .section-header h2 {
      font-size: 40px;
      font-weight: 600;
  }
}

@media (max-width: 767.98px) {
  .section-header h2 {
      font-size: 35px;
      font-weight: 600;
  }
}

@media (max-width: 575.98px) {
  .section-header h2 {
      font-size: 30px;
      font-weight: 600;
  }
}