<!-- <head>
  <title>Welcome</title>
</head>
<div class="body">
<br><br><br><br>
<H1 align="center">SpringFood | A FASTER WAY TO ORDER YOUR FOOD</H1>
<br><br><br><br><br><br>
<table align="center">
  <tr>
    <td><a routerLink="/login"><button class="bigbutton"><span>Log In</span></button></a></td>
    <td><a routerLink="/register"><button class="bigbutton"><span>Register</span></button></a></td>
  </tr>
</table>
</div>
 -->
 <div class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container-fluid">
      <a routerLink="/home" class="navbar-brand"> Bengaluru <span>e-CAFE</span></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
              <a routerLink="/home" class="nav-item nav-link active">Home</a>

              <a class="nav-item nav-link" routerLink="/about">About</a>
              
          </div>
      </div>
  </div>
</div>


<!-- Nav Bar End -->

 <div class="carousel">
  <div class="container-fluid">
      <div class="owl-carousel">
          <div class="carousel-item">
              <div class="carousel-img">
                  <img src="assets\images\backrdfood.jpg" alt="Image">
              </div>
              <div class="carousel-text">
                  <h1> Good <span>Food</span> Good <span style="color:#719a0a ;">Mood</span> </h1> 
                  <p>
                    If you want to enjoy life to the fullest, you need to eat till you can’t eat another bite. Satisfy your taste count the memories , not the calories.<br> We are open to serving you
                  </p>
                  <div class="carousel-btn">
                      <a class="btn custom-btn" routerLink="/login">Login</a>
                      <a class="btn custom-btn" routerLink="/register">Register</a>
                  </div>
              </div>
          </div>
          
          
      </div>
  </div>
</div>

<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-7">
              <div class="row">
                  <div class="col-md-6">
                      <div class="footer-contact">
                          <h2>Our Address</h2>
                          <p><i class="fas fa-map-marker-alt"></i>123 Street, Bengaluru, Karnataka, India</p>
                          <p><i class="fas fa-phone-alt"></i>+012 345 67890</p>
                          <p><i class="fa fa-envelope"></i>bengaluruecafe@gmail.com</p>
                          <p>DON'T BE ANTI-SOCIAL<br>
                          <i>Join in with the conversation</i></p>
                          <div class="footer-social">
                              <a href=""><i class="fab fa-twitter"></i></a>
                              <a href="https://www.facebook.com/therameshwaramcafe/"><i class="fab fa-facebook-f"></i></a>
                              <a href="https://www.youtube.com/watch?v=1xbmyNO9aQ0"><i class="fab fa-youtube"></i></a>
                              <a href=""><i class="fab fa-instagram"></i></a>
                              <a href=""><i class="fab fa-linkedin-in"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="footer-link">
                          <h2>Quick Links</h2>
                          <a href="">Terms of use</a>
                          <a href="">Privacy policy</a>
                          <a href="">Cookies</a>
                          <a href="">Help</a>
                          <a href="">FQAs</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5">
              <div class="footer-newsletter">
                  <h2>Newsletter</h2>
                  <p>
                    Never miss an update from us!
                    We will be in touch regularly with upto date news, offers and much more.<br>
                    In the meantime, find out more about us and explore Bengaluru e-CAFE  
                  <div class="form">
                      <input class="form-control" placeholder="Email goes here">
                      <button class="btn custom-btn">Submit</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p>Copyright &copy; <a href="#">Bengaluru_e-CAFE</a>, All Right Reserved.</p>
          
      </div>
  </div>
</div>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


